<div *ngIf="new" >
  
<br>
      

    <p *ngIf="status == 'error'">
        Error al registrar la noticia
    </p>
     <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
        El registro de la noticia se ha completado correctamente
     </div>
    <div class="container" class="col-lg-8">
        <form #newForm="ngForm" (ngSubmit)="onSubmit(newForm)">
            <fieldset>
                <legend class="h4 text-center">
                    Noticia
                </legend>
                <p *ngIf="is_Edit">
                     Editar Noticia
                </p>
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="new.title" required>
                    <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                        El titulo no es valido
                    </small>
                </div>
                <div class="form-group">
                    <label for="content">Contenido</label><br>
                    <textarea rows="5" cols="50" name="content" #content="ngModel"
                    [(ngModel)]="new.content" required > </textarea>

                     <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-clock">
                        El titulo no existe
                    </small>
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <div *ngIf="new.image">
                        <img src="{{url + 'news/avatar/' + new.image}}" class="avatar_edit" />
                    </div>
                    <angular-file-uploader
                       [config]="afuConfig"
                       [resetUpload]=resetVar
                       (ApiResponse)="imageUpload($event)">
                    </angular-file-uploader>

                </div>

              
            <div class="form-group text-center">
                <input type="submit" value="Registrar"class="btn btn-success" [disabled]="newForm.invalid"/>
                <input type="submit" value="Cancelar" class="btn btn-warning mr-3" [routerLink] ="['../listado-noticias']"/>
            </div>
            </fieldset>
        </form>
      </div>

</div>