<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span>NameWeb</span></a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist" *ngIf="!identity">
            <li role="presentation"><a [routerLink] = "['/home']">Inicio</a></li>
            <li role="presentation"><a [routerLink] = "['/servicios']">Servicios</a></li>
            <li role="presentation"><a  [routerLink] = "['/blog']">Blog</a></li>
          
            <li role="presentation"><a  [routerLink] = "['/contacto']">Contacto</a></li>
          </ul>

          <!--Estando logueado-->
          <ul class="nav nav-tabs" role="tablist" *ngIf="identity">
              <li role="presentation"><a [routerLink] = "['/home']">Inicio</a></li>
              <li role="presentation"><a [routerLink] = "['/servicios']">Servicios</a></li>
              <li role="presentation"><a  [routerLink] = "['/blog']">Blog</a></li>
            
              <li role="presentation"><a  [routerLink] = "['/contacto']">Contacto</a></li>


            <li class="avatar">
             <!-- <img src="{{url + 'get-image-file/'+ identity.image}}"/>-->
          </li>
           <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               {{identity.name}}<span class="caret"></span>
               </a>
               
               <ul class="dropdown-menu">
                <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                   <a [routerLink] = "['/admin-panel/listado']" >
                   <span class="glyphicon glyphicon-tasks"></span>
                   Administración
                    </a>
                </li>
        
                <li>
                  <a [routerLink] = "['/mis-datos']">
                    <span class="glyphicon glyphicon-cog"></span>
                    Mis datos
                  </a>
                </li>
        
                <li>
                  <a  class="pointer"  (click)="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Salir
                  </a>
                  </li>
               </ul>
        
           </li>    
          </ul>
        </div>
      </div>
    </div>
  </nav>


-->

<router-outlet></router-outlet>

<footer *ngIf="!identity">


<div class="inner-footer" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 f-about">
          <h3 class="widgetheading">NameWeb</h3>
          <p>Que la web de tu negocio no sea un deseo, Nosotros te ayudamos a hacerlo realidad. También puedes consultar por nuestros otros servicios. Será un gusto atenderle.
          </p>
        </div>
        
        <div class="col-lg-6 f-contact">
          <h3 class="widgetheading">¡Cotiza tu proyecto ya!</h3>
          <a  [routerLink] = "['/contacto']">
            <p><i class="fa fa-envelope"></i> example@gmail.com</p>
          </a>
        
        </div>
      </div>
    </div>
  </div>


  <div class="last-div">
    <div class="container">
      <div class="row">
        <div class="copyright">
          &copy; name. Derechos Reservados
          
        </div>
        </div>
    </div>
   
      
     
    
   
    <div class="container">
      <div class="row">
        <ul class="social-network">
          <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
          

         
        </ul>
      </div>
    </div>
</div>
</footer>
