<br>
<br>
<br>
<div class="col-lg-4">
 <h3>{{title}}</h3>
<!-- Barra Lateral Admin-->
 <div class="sidebar-admin" data-example-id="sample-nav-stacked" >
    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation" [routerLinkActive] ="['active']" *ngIf="isAdmin" >
            <a [routerLink] ="['listado']">Usuarios</a>
        </li>
        <li role="presentation" [routerLinkActive] ="['active']">
            <a [routerLink] ="['listado-categorias']">Categorias</a>
        </li>
        <li role="presentation" [routerLinkActive] ="['active']">
            <a [routerLink] ="['listado-servicios']">Servicios</a>
        </li>
        <li role="presentation" [routerLinkActive] ="['active']">
            <a [routerLink] ="['listado-noticias']">Noticias</a>
        </li>
        <li role="presentation" [routerLinkActive] ="['active']">
            <a [routerLink] ="['listado-portafolios']">Portafolios</a>
        </li>
    </ul>
 </div>
</div>

<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>
