<!--slider-->
<div class="container">
    <div class="row">
      <div class="slider">
        <div class="img-responsive">
          <ul class="bxslider">
            <li><img src="as/img/01.jpg" alt="" /></li>
            <li><img src="asses/img/01.jpg" alt="" /></li>
            <li><img src="assts/img/01.jpg" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <h4>Diseño Responsive</h4>
            <div class="icon">
              <i class="fa fa-eye fa-3x"></i>
            </div>
            <p>Tu web podrá ser vista en ordenadores, tablets & celulares.</p>
            
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
            <h4>Precios Accesibles</h4>
            <div class="icon">
              <i class="fa fa-money fa-3x"></i>
            </div>
            <p>Cotiza & te daremos el mejor precio para que tu negocio cuente con una web. </p>
           
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
            <h4>Atención personalizada</h4>
            <div class="icon">
              <i class="fa fa-user fa-3x"></i>
            </div>
            <p>Dinos personalmente lo que necesitas para tu web & Nosotros te asesoramos para darte la mejor opción.</p>
           
          </div>

        </div>

      </div>
    </div>
  </div>

<!-- El css está en la carpeta assets/css/set1-->

  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
         
        <img src="assets/img/servicios.png" alt="servicios" />
        <figcaption>
            <span [routerLink] = "['/servicios']"> Servicios</span>
            <p class="description" >Consulte nuestros servicios dependiendo de su necesidad.</p>
        </figcaption>
      </figure>
      <figure class="effect-zoe">
        <img src="assets/img/emprendedores.png" alt="img26" />
        <figcaption>
          <span>Haga realidad sus ideas</span>
         
          <p class="description">No deje que su emprendimiento quede solo en ideas, está a un paso de hacerlas realidad.</p>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
        <img src="assets/img/frameworks.png" alt="img27" />
        <figcaption>
          <span>Tecnologías Actuales</span>
          
          <p class="description">Nuestros sitios web & sistemas estan hechos con tecnologías actuales para sacar el mejor provecho profesionalmente.</p>
        </figcaption>
      </figure>
      <figure class="effect-zoe">
        <img src="assets/img/conexion.png" alt="img30" />
        <figcaption>
          <span>Conéctese con sus clientes</span>
         
          <p class="description">Un sitio web genera más confianza & seriedad a su negocio, de esta manera complementa la conexión con sus clientes.</p>
        </figcaption>
      </figure>
    </div>
  </div>

 